<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Tempus</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css2/demo.css" />
    <style>
      .custom-thead th {
        background-color: #212529 !important;
        color: #fff !important;
        .table td,
        .table th {
          padding-top: 2rem !important;
          padding-bottom: 2rem !important;
          vertical-align: middle; /* keeps content centered */
        }
      }
    </style>
  </head>
  <body class="bg-light">
    <!--topBar-->
    <%- include('../../views/partials/admin/topBar')%>
    <!--topBar-->

    <!-- Main Content -->
    <div class="main-content">
      <!--sideBar-->
      <%- include('../../views/partials/admin/sideBar')%>
      <!--sideBar-->

      <!-- Dashboard Content -->
      <main class="container-fluid py-4">
        <!-- Search & Filters -->
        <div class="d-flex justify-content-between align-items-center mb-4">
          <form action="/admin/users" method="get" class="d-flex">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="search"
                value="<%=search%>"
                placeholder="Search by name or email..."
                style="border-radius: 5px; width: 300px"
              />
              <button
                class="btn btn-white btn-outline-dark mx-3"
                type="submit"
                style="border-radius: 5px"
              >
                Search
              </button>
              <button
                class="btn btn-white mx-3"
                type="clear"
                style="border-radius: 5px; border-color: #212529"
              >
                <a href="/admin/users" class="text-decoration-none text-dark"
                  >Clear</a
                >
              </button>
            </div>
          </form>

          <div class="dropdown dropdown-menu-end">
            <button
              type="button"
              class="btn btn-white btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
            >
              Filter by status
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" onclick="setStatus('all')">All</a>
              </li>
              <li>
                <a class="dropdown-item" onclick="setStatus('blocked')"
                  >Blocked</a
                >
              </li>
              <li>
                <a class="dropdown-item" onclick="setStatus('unblocked')"
                  >Unblocked</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Users Table -->
        <div class="container mt-4">
          <div class="card shadow-sm">
            <div class="card-header">
              <h5 class="card-title mb-0">Users</h5>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <% if (users.length > 0) { %>
                <table
                  class="table table-bordered table-hover align-middle text-center"
                >
                  <thead class="custom-thead">
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Phone No.</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% users.forEach(user => { %>
                    <tr>
                      <td><%= user.firstName %></td>
                      <td><%= user.lastName %></td>
                      <td><%= user.email %></td>
                      <td><%= user.phoneNo %></td>
                      <td>
                        <% if (!user.isBlocked) { %>
                        <a
                          class="btn btn-sm btn-warning"
                          href="/admin/user/block?id=<%= user._id %>"
                          onclick="blockUser(event, '<%= user.firstName %>', this.href)"
                        >
                          Block
                        </a>
                        <% } else { %>
                        <a
                          class="btn btn-sm btn-success"
                          href="/admin/user/unblock?id=<%= user._id %>"
                          onclick="unblockUser(event, '<%= user.firstName %>', this.href)"
                        >
                          Unblock
                        </a>
                        <% } %>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
                <% } else { %>
                <div class="alert alert-info text-center">No users found..</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <!-- PAGINATION -->
        <div class="d-flex justify-content-end me-5 mt-5">
          <nav>
            <ul class="pagination">
              <% if (page > 1) { %>
              <li class="page-item">
                <a
                  class="page-link"
                  style="background-color: #1e293b; color: #ffffff"
                  href="?page=<%= page - 1 %>&search=<%= search %>"
                  >Prev</a
                >
              </li>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= page === i ? 'active' : '' %>">
                <a
                  class="page-link"
                  style="background-color: #1e293b; color: #ffffff"
                  href="?page=<%= i %>&search=<%= search %>"
                  ><%= i %></a
                >
              </li>
              <% } %>
              <% if (page < totalPages) { %>
              <li class="page-item">
                <a
                  class="page-link"
                  style="background-color: #1e293b; color: #ffffff"
                  href="?page=<%= page + 1 %>&search=<%= search %>"
                  >Next</a
                >
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
        <!-- PAGINATION -->
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js2/demo.js"></script>

    <script>
      const success_msg =
        "<%= success_msg && success_msg.length > 0 ? success_msg[0] : '' %>";
      const error_msg =
        "<%= error_msg && error_msg.length > 0 ? error_msg[0] : '' %>";

      if (success_msg && success_msg.length > 0) {
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: success_msg,
          confirmButtonColor: '#3085d6',
        });
      }

      if (error_msg && error_msg.length > 0) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: error_msg,
          confirmButtonColor: '#d33',
        });
      }
    </script>
  </body>
</html>
