<div id="support-section" style="display: none">
  <h4 class="mb-4">Edit Email/Password</h4>

  <div class="row">
    <% if (userInfo.googleId) { %>
    <!-- If Google login -->
    <div class="col-md-6">
      <div
        class="border rounded p-3 d-flex align-items-center justify-content-center mb-3"
        style="height: 202px"
      >
        <p class="text-muted">
          You signed up with Google, so you don’t have a password to change
          here.
        </p>
      </div>
    </div>
    <% } else { %>
    <div class="col-md-6">
      <div class="border rounded p-3 text-center mb-3" style="height: 202px">
        <i class="fas fa-lock fa-3x text-primary my-3"></i>
        <h6></h6>
        <p class="text-muted"></p>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editPassword<%=userInfo._id%>"
        >
          Edit Password
        </button>

        <!-- EDIT PASSWORD MODAL -->
        <div
          class="modal fade"
          id="editPassword<%=userInfo._id%>"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Password</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <div class="modal-body">
                <p>Enter your current password and your new password.</p>
                <form
                  id="changePasswordForm"
                  action="/dashboard/editPassword?userId=<%=userInfo._id%>&_method=patch"
                  method="POST"
                  novalidate
                >
                  <div class="row g-3">
                    <div class="col-md-12">
                      <input
                        type="password"
                        class="form-control"
                        id="currentPswd"
                        name="currentPswd"
                        placeholder="Current password"
                        required
                      />
                      <p id="err1" style="color: rgb(157, 63, 63)"></p>
                    </div>
                    <div class="col-md-12">
                      <input
                        type="password"
                        class="form-control"
                        id="newPswd"
                        name="newPswd"
                        placeholder="New password"
                        required
                      />
                      <p id="err2" style="color: rgb(157, 63, 63)"></p>
                    </div>
                    <div class="col-md-12">
                      <input
                        type="password"
                        class="form-control"
                        id="cnfrmNewPswd"
                        name="cnfrmNewPswd"
                        placeholder="Enter new password again"
                        required
                      />
                      <p id="err3" style="color: rgb(157, 63, 63)"></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-success me-3">
                      Edit
                    </button>
                    <button type="reset" class="btn btn-outline-warning">
                      Reset
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- EDIT PASSWORD MODAL -->
      </div>
    </div>
    <%}%>
    <div class="col-md-6">
      <div class="border rounded p-3 text-center mb-3">
        <i class="fas fa-envelope fa-3x text-primary mb-3"></i>
        <h6>Your Current Email</h6>
        <p class="text-muted"><%=userInfo.email%></p>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editEmail<%=userInfo._id%>"
        >
          Edit Email
        </button>
        <!-- EDIT PASSWORD MODAL -->
        <div
          class="modal fade"
          id="editEmail<%=userInfo._id%>"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Email</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <div class="modal-body">
                <h6 class="h6">Verify your current email..</h6>
                <p>
                  Click the 'Send OTP' button to send the verification OTP to
                  your current email.
                </p>

                <!-- SEND OTP FORM -->
                <div class="d-flex align-items-center justify-content-center">
                  <form action="/sendEmailOtp" method="POST">
                    <div class="row g-3">
                      <div class="col-md-12">
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          name="email"
                          value="<%=userInfo.email%>"
                          style="width: 280px"
                          readonly
                        />
                      </div>
                    </div>

                    <button
                      id="sendOTP"
                      type="submit"
                      class="btn btn-outline-primary my-3"
                    >
                      Send OTP
                    </button>
                  </form>
                </div>
                <!-- SEND OTP FORM -->
              </div>
            </div>
          </div>
        </div>
        <!-- EDIT PASSWORD MODAL -->
      </div>
    </div>
  </div>
</div>
